<!DOCTYPE html>
<html ng-app="doList">
  <head>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="DoListController as doList">
  <h1> List Manager </h1>
<div class="panel">
  <form ng-submit="doList.addAction()">
    <textarea ng-model="doList.newAction.description"></textarea>
    <textarea ng-model="doList.newAction.context"></textarea>
    <textarea ng-model="doList.newAction.project"></textarea>
    <input type="submit" value="Submit" />
  </form>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li ng-class="{active:doList.headerSelected('description')}"> <a ng-click="doList.setHeader('description')">Aggregate</a></li>
  <li ng-class="{active:doList.headerSelected('dateAdded')}"> <a ng-click="doList.setHeader('dateAdded')">by Date</a></li>
  <li ng-class="{active:doList.headerSelected('context')}"> <a ng-click="doList.setHeader('context')">by Context</a></li>
</ul>
<!--
    <a href ng-click="doList.sortActionsBy('description')"> Description  {{doList.sortDirectionToChar('description')}}</a>
    <a href ng-click="doList.sortActionsBy('dateAdded')"> Date  {{doList.sortDirectionToChar('dateAdded')}}</a>
    <a href ng-click="doList.sortActionsBy('context')"> Context  {{doList.sortDirectionToChar('context')}}</a>
-->

  <div class="panel" ng-show="doList.listSelected(0)" ng-repeat="actionHeader in doList.collatedHeaders">
    <h3>{{doList.displayActionHeader(actionHeader)}}</h3>

    <div class="panel actionBox" ng-repeat="action in doList.collatedActions[actionHeader]  | orderBy: doList.actionOrder : doList.actionOrderReverse">
      <input type="checkbox" ng-model="action.completed" />
      <h4 ng-class="{taskCompleted:action.completed}"> {{action.description}} </h4>
      <p> {{action.dateAdded | date }} </p>
      <p> {{action.project}} </p>
      <p> <i>{{action.context}} </i></p>
    </div>
  </div>
  <div class="panel" ng-show="doList.listSelected(1)" ng-repeat="project in doList.projects ">
    <h3> {{project.name}} </h3>
  </div>
  <div class="panel" ng-show="doList.listSelected(2)" ng-repeat="context in doList.contexts ">
    <h3> {{context.name}} </h3>
  </div> <!-- End of individual action repeat -->
</div> <!-- End of collation repeat-->
  </body>
</html>
